li.nav-item.active {
    background: #e082b2ad !important;
}
.col-md-6.mb-3.display-inline{
    display: flex;
    margin-top: 2%;
}
label.radio.radio-outline-primary {
    margin-left: 2%;
    margin-top: 0%;
}
/*a.nav-item-hold:active{*/
/*    background: aqua;*/
/*}*/
p#error_about_ar_message {
    float: right;
}
p#error_er_name_message {
    float: right;
}
.intro{
    background: aqua;
}
th.sorting_disabled {
    width: 200px !important;
}
input.btn.btn-primary.btn-gradient-info.mr-2 {
    padding: 10px 40px 8px 40px!important;
}
a.btn.btn-success.btn-rounded.m-1, .btn.btn-primary.btn-rounded.m-1  {
    border-color: #ad1770 !important;
    background: #ad1770 !important;
    color: #fff !important;
}

.arabic_label, .rtl{
    direction: rtl;
}
.btn.btn-primary.import_button_label{
    margin-top: 15px;
    padding: 10px 40px 8px 40px!important;
    border-color: #ad1770 !important;
    background: #ad1770 !important;
}
label.arabic_label {
    float: right;
}
.myModal1.btn.btn-primary.btn-sm.update_profile{
    padding: 10px 40px 8px 40px!important;
}
h1.text-60 {
    color: #ad1770;
}
.parsley-custom-error-message,.parsley-required,.parsley-errors-list,.parsley-min
{
    color:red!important;
    padding-top: 3px!important;
}
/*.col-md-6.mb-3 {*/
/*    direction: rtl;*/
/*}*/