body {
	margin: 0px!important;
	padding: 0px!important;
	font-family: 'proxima_novaregular';
}

:focus {
	outline: none!important;
}

@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('../fonts/proximanova-bold.woff2') format('woff2'), url('../fonts/proximanova-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proxima_novaregular';
	src: url('../fonts/proximanova-regular.woff2') format('woff2'), url('../fonts/proximanova-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}





ul,
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0px;
	padding: 0px;
}





.logo img
{
	width: 250px;
	margin: 50px auto;
	display: inherit;
}



.quality_sec h3 {
	font-size: 22px;
	font-family: 'proxima_nova_rgbold';
	line-height: 26px;
	margin-top: 10px;
	text-align: left;
}

.quality_sec p {
	margin: 0;
	font-size: 18px;
	margin-top: 15px;
	text-align: left;
	font-family: 'proxima_novaregular';
}



.about_text {
	background: #ffffff;

	border-radius: 10px;

}

.about_text img
{
	    width: 220px;
    text-align: center;
    display: inherit;
    margin: 40px auto;
}

.about_text h2 {
	font-size: 40px;
	font-family: 'proxima_nova_rgbold';
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 40px;
	text-align: center;
}

.about_text h4 {
	font-family: 'proxima_nova_rgbold';
	font-size: 22px;
	line-height: 26px;
	color: #000000;
	margin: 15px 0px;
}

.about_text p {
	font-size: 16px;
	color: #000000;
	font-family: 'proxima_novaregular';
	line-height: 22px;
	margin-bottom: 10px;
}

@media (max-width:991px) {
	.about_text h2 {
		font-size: 28px;
		margin-bottom: 0px;
	}
	.about_text {
		padding: 15px;
	}
	.about_text h4 {
		font-size: 18px;
	}
}



@media (max-width:422px) {
	.search {
		margin-left: 10px;
	}
}

.term_condition {
	background-color: #f9f9f9;
	width: 60%;
	margin: 0px auto;
}

.term_p {
	font-size: 18px!important;
	color: #000000;
}

.term_condition h4 {
	margin: 20px 0px;
}

@media (max-width:767px) {
	.term_condition h2 {
/*		text-align: left;
*/		margin-bottom: 30px;
	}
	.term_condition {
		width: 100%;
	}
	.content p
	{
		font-size: 15px!important;
	}
	.about_text img
	{
		width: 180px;
	}
	.set>a
	{
font-size: 14px!important;
		padding: 12px 10px!important;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.term_condition {
		width: 80%;
	}
}


/* 
.opencontents
{
	position: absolute;
	right: 14%;
} */

.opencontents {
	margin-top: -15px;
}





.accordion-container {
	position: relative;
	max-width: 100%;
	width: 100%;
	float: left;
}

.accordion-container>h2 {
	text-align: center;
	color: #fff;
	padding-bottom: 5px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #fff;
}

.set {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #f1f5f7;
	box-shadow: 0 5px 1px -3px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 5px 1px -3px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 5px 1px -3px rgba(0, 0, 0, .15);
	-ms-box-shadow: 0 5px 1px -3px rgba(0, 0, 0, .15);
	margin-bottom: 10px;
}

.set>a {
	display: block;
	font-size: 17px;
	padding: 12px 30px;
	font-family: var(--font-family);
	text-decoration: none;
	color: #282828;
	font-weight: 500;
	border-bottom: 1px solid #fff;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.set>a i {
	float: right;
	margin-top: 2px;
}

.set>a.active {
	/* background:linear-gradient(to right,rgba(230,90,23,1) 0,rgba(236,138,37,1) 100%); */
	color: #fff;
	background: #d2007d;
}

.set .content {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	display: none;
}

.set .content p {
	padding: 7px 15px;
	margin: 0;
	color: #333;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}





/* css check box */

.contact_list ul {
	margin: 0px;
	padding: 0px;
}

.contact_list ul li {
	list-style-type: none;
}

.contact_list ul li label {
	font-weight: normal;
	font-family: 'proxima_novaregular';
	font-size: 15px;
}

.set a {
	font-family: 'proxima_nova_rgbold';
}

.content p {
	font-size: 16px;
}

.set .content b {
	font-family: 'proxima_nova_rgbold';
}

.set .content p:first-child {
	padding-top: 20px;
}

.set .content p:last-child {
	margin-bottom: 20px;
}

.set .content h3 {
	font-family: 'proxima_nova_rgbold';
	padding: 15px;
	font-size: 18px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.set .content h3:first-child {
	padding-top: 30px;
}


.privacy_accrodian ul {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-left: 50px;
}

.privacy_accrodian ul li:last-child {
	margin-bottom: 15px;
}




/*footer
{
	  position: fixed;
  left: 0;
  bottom: 0;

}*/


.circle .fa
{
    font-size: 8px!important;
    position: relative;
    top: -2px;
}

.list li{
list-style-type: none;
margin-bottom: 10px;
margin-right: 10px;
    list-style-image: url(../img/list-arrow.png);
    list-style-type: none;
}







@media (max-width: 7687px)


