.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  font-size: 14px;
}

.status {
  padding: 8px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
  text-align: center;
}
.status h4 {
  font-weight: 600;
  color: grey;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #e082b2;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

/*.li.complete .status {
  border-top: 2px solid #66DC71;
}*/
.li.complete .status:before {
  background-color: #66DC71;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: black;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}
html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /*font-family: "Titillium Web", sans serif;*/
  color: #758D96;
}

button {
  position: absolute;
  width: 100px;
  min-width: 100px;
  padding: 20px;
  margin: 20px;
  font-family: "Titillium Web", sans serif;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
}

 .timeline .status {
         border-top: 0px !important; 
     }

        .timeline .li.complete .status:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 98px;
    width: 100%;
    border: 1px solid #D6DCE0;
    z-index: 0;
}
.status:before{
  z-index: 9;
}


.status:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 98px;
  width: 95%;
  border: 1px solid #D6DCE0;
  z-index: 0;
}



.bor_rem::after{
  display: none!important;
}


.li.complete .status:before {
  z-index: 9;
}